{% extends 'base.html' %}


{% block login %}
    <div class="block_login">
        <div class="div_header">
                <div>CHAT</div>
                <p>Log-in to your account</p>
        </div>
        <div class="div_login">
            <form action="/login" method="post">{% csrf_token %}
                <input class="form-control" id="id_username" name="username" type="text" placeholder="Username">
                <input class="form-control" id="id_password" name="password" type="password" placeholder="Password">
                <input value="Login" class="form-control btn-success" id="btn_login" name="btn_login" type="submit">
            </form>
        </div>

        <div class="div_login div_errors">
            {% if messages %}
                <ul>
                    {% for messsage in messages %}
                      <li>{{ messsage }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>


        <div class="div_login div_sign_up">
            <p>New to us?</p>
            <a href="#">Sign Up</a>
        </div>
    </div>
{% endblock %}